@use 'base/variables' as v;

.alerta{
    padding: calc(v.$separacion / 6);
    color: v.$blanco;
    width: 100%;
    display: block;
    margin-bottom: .5rem;
    text-align: center;

    &.error{
        background-color: v.$rojoError;
    }
    &.exito{
        background-color: v.$verdeExito;
    }
}