@use 'base/variables' as v;

.main{
    h2{
        text-align: center;
        color: v.$gris;
        font-size: 4rem;
    }
}

.contenedor_tabla{
    width: 100%;
    margin: 8rem auto;
}
.main-lita{
    text-align: center;
    margin-top: 5rem;
    width: 100%;
    border-collapse: collapse;

    .theader{
        background-color: v.$azulOscuro;
        border-bottom: solid 2px darken(v.$azulOscuro, 10%);
        th{
            padding: 1rem;
        }
    }

    td{
        background-color: v.$gris;
        color: v.$blanco;
        font-size: 2rem;
    }
}
.boton_actu{
    background-color: v.$verdeExito;
    border-radius: .5rem;
    border: none;
    padding: .5rem;
    color: v.$blanco;
    cursor: pointer;
}
.boton_eli{
    background-color: v.$rojoError;
    border-radius: .5rem;
    border: none;
    padding: .5rem;
    color: v.$blanco;
    font-size: 2rem;
    cursor: pointer;
}

.boton_reporte{
    background-color: v.$azulOscuro;
    border-radius: .5rem;
    border: none;
    padding: 1rem;
    color: v.$blanco;
    font-size: 2rem;
    cursor: pointer;
}
.reporte{
    text-align: center;
    margin: 0 auto;
}