@use 'base/variables' as v;

.m
    h2{
        text-align: center;
        color: v.$gris;
        font-size: 4rem;
    }
}

.contenedor_tabla{
    width: 90%;
    margin: 8rem auto;
}
.main-lita{
    text-align: center;
    margin-top: 5rem;
    width: 100%;
    border-collapse: collapse;

    .theader{
        background-color: v.$azulOscuro;
        border-bottom: solid 2px darken(v.$azulOscuro, 10%);
        th{
            padding: 1rem;
        }
    }

    td{
        background-color: v.$gris;
        color: v.$blanco;
        font-size: 2rem;
    }
}