@use 'base/variables' as v;
@use 'base/mixins' as m;

.main{

    h1{
        font-size: 4rem;
        margin-bottom: 0;
        font-weight: v.$black;
        color: v.$azul;
        margin-top: 0rem;

        @include m.tablet{
            font-size: 6rem;
            margin-top: .5rem;
        }
        @include m.per(1800px){
            margin-top: 10rem;
        }
        @include m.peralt(800px){
            margin-top: 10rem;
        }

        span{
            color: v.$azulOscuro;
        }
    }
    h2{
        margin: 0;
        font-weight: v.$bold;
        font-size: 3rem;
        @include m.tablet{
            font-size: 4rem;
        }
    }
}
.contenedor{
    @include m.tablet{
        padding: 0 10rem;
    }
    h2{
        margin-bottom: 1rem;
        font-size: v.$delgada;
        color: v.$gris;
        font-size: 2.5rem;
        margin: 0;
    }
}

.formulario{
    background-color: lighten(v.$gris,  50%);
    margin: auto;
    width: 90%;
    max-width: 40rem;
    padding: 5rem 4rem;
    border-radius: 1rem;
    box-shadow: 0 .5rem 1rem -.5rem rgb(0 0 0 / 30%);
    text-align: center;
    @include m.tablet{
        max-width: 60rem;
    }

    .contenedor_formulario{
        margin-top: 3rem;
        display: grid;
        gap: 2.5rem;
    }

}
.contenido_formulario{
    position: relative;
    

    .form_input{
        width: 100%;
        background: none;
        font-size: 2rem;
        padding: 1rem .5rem;
        border: none;
        outline: none;
        border-bottom: 1px solid v.$gris;
        font-family: v.$fuente_principal;

        &:focus + .form_label,
        &:not(:placeholder-shown) + .form_label{
            transform: translateY(-1.2rem) scale(.7);
            transform-origin: left top;
            color: v.$azul;
        }
    }
    .form_label{
        color: v.$gris;
        position: absolute;
        top: 0;
        left: .5rem;
        transform: translateY(1rem);
        transition: transform .5s, color .3s;
    }
}
.btn{
    background-color: v.$azul;
    padding: 1rem;
    border: none;
    border-radius: .5rem;
    cursor: pointer;

    &:hover{
        background-color: v.$azulOscuro;
    }
}
.form_line{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.5px;
    background-color: v.$azul;
    transform: scale(0);
    transform-origin: left bottom;
    transition: transform .4s;
}
.form_input:focus ~ .form_line,
.form_input:not(:placeholder-shown) ~ .form_line{
    transform: scale(1);
}
.opciones{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    flex-direction: column;

    @include m.per(450px){
        flex-direction: row;
    }

    a{
        color: v.$gris;

        &:hover{
            color: v.$azul;
        }
    }
}
footer{
    text-align: center;
    
    p{
        margin: 0;
        font-size: 1.5rem;
    }
}